@using Microsoft.AspNetCore.Identity
@using EmailManager.Data.Implementation

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 style="font-family: 'Baskerville Old Face'">Welcome to Email Manager</h1>
    @if (!SignInManager.IsSignedIn(User))
    {
        <p></p>
        <p></p>
        <h3><ins><partial name="_LoginPartial" /></ins> to use the system.</h3>
    }
</div>

<div class="text-center">
    @if (SignInManager.IsSignedIn(User))
    {
        <p>@User.Identity.Name, what do you want to do today?</p>

        <form>
            <button asp-controller="Email" asp-action="ListAllStatusEmails" type="submit" class="btn btn-lg btn-outline-success">
                Email catalog
            </button>

            @if (User.IsInRole("Manager"))
            {
                <button asp-controller="User" asp-action="Index" type="submit" class="btn btn-lg btn-outline-success">
                    User catalog
                </button>
            }
        </form>
    }
</div>